<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AcadémiQ - Home</title>
    <link rel="icon" href="static/LogoAcademiQ.png" type="image/x-icon" />
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <header>
        <h1>Bienvenue sur AcadémiQ</h1>
        <p>Ta platefrome pour apprendre et réviser</p>
    </header>

    <div class="button-container">
        <a href="/load"><button class="load-data">Charger un set</button></a>
        <a href="/create"><button class="create-data">Créer un nouveau set</button></a>
    </div>

    <footer>
        &copy; 2024 AcadémiQ. All rights reserved.
    </footer>
</body>
</html>
